bleach==3.1.0
bokeh==1.4.0
bokeh-plot==0.1.5
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
idna==2.8
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplot==0.1.9
matplotlib==3.1.1
numpy==1.17.3
packaging==19.2
pandas==0.25.3
Pillow==6.2.1
pkginfo==1.5.0.1
pygame==1.9.6
Pygments==2.4.2
pyloco==0.0.139
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==12.7.0
PyQt5Designer==5.10.1
python-dateutil==2.8.1
pythonnet==2.4.0
pytz==2019.3
pywebview==3.1
PyYAML==5.1.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
SimpleWebSocketServer==0.1.1
six==1.13.0
tornado==6.0.3
tqdm==4.38.0
twine==2.0.0
typing==3.7.4.1
urllib3==1.25.6
ushlex==0.99.1
webencodings==0.5.1
websocket-client==0.56.0
